/* ================ page css ================ */
body {
  font-size: 14px;
  font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
}

.content-container {
  padding-left: 60px;
  padding-right: 60px;
}

@media screen and (max-width: 768px) {
  .content-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.tc-page-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: #fff;
  font-size: 48px;
  -webkit-text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
          text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
}

.tc-page-title small {
  color: #fff;
  font-size: 50%;
  -webkit-text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
          text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);

}

.tc-page-article {
  position: relative;
  min-height: 500px;
  padding-top: 40px;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 0;
}

.tc-page-article > .article-shadow {
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  -webkit-box-shadow: 2px -14px 10px 8px rgba(0, 0, 0, .175);
          box-shadow: 2px -14px 10px 8px rgba(0, 0, 0, .175);
}

.tc-article-section {
  margin-bottom: 60px;
}

.tc-article-section > h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.tc-article-text {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

/* ================ home css ================ */
.tc-banner {
  height: 510px;
  margin-bottom: -200px;
}

@media screen and (max-width: 768px) {
  .tc-banner {
    margin-bottom: -200px;
  }
}

.tc-banner > .tc-banner-bg {
  height: 100%;
  background: url(../img/bg.png) no-repeat center;
}

#tc-carousel {
  overflow: hidden;
  border-radius: 4px;
}

/* ================ header css ================ */
.tc-navbar {
  margin-top: 20px;
  border-radius: 4px;
  background-color: rgba(250, 250, 244, .9);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  	      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.tc-navbar .navbar-header .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 48px;
  height: 68px;
}

.tc-navbar .navbar-header .navbar-toggle {
  margin-top: 17px;
}

.tc-navbar .navbar-nav > li {
  padding: 20px 0px;
}

.tc-navbar .navbar-nav > li > a {
  padding: 0px 20px;
  border-right: 2px solid #aaa;
  font-size: 16px;
  line-height: 28px;
  color: #999;
}

.tc-navbar .navbar-nav > li:last-child > a {
  border-right: 0px;
}

@media screen and (max-width: 768px) {
  .tc-navbar .navbar-nav > li {
    padding: 8px 0px;
  }

  .tc-navbar .navbar-nav > li > a {
    border-right: 0px;
  }
}

.tc-navbar .navbar-nav > .active > a,
.tc-navbar .navbar-nav > .active > a:hover,
.tc-navbar .navbar-nav > .active > a:focus {
  color: #006700;
  background-color: transparent;
}

/* ================ footer css ================ */

.footer {
  margin-bottom: 30px;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: #f0f0f0;
  text-align: right;
}

.footer > img {
  float: left;
  margin-right: 50px;
}

.footer > .footer-text {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #777;
  line-height: 40px;
}

@media screen and (max-width: 564px) {
  .footer {
    text-align: left;
  }

  .footer > img {
    float: none;
    margin-bottom: 10px;
  }
}

/* ================ button css ================ */
.tc-btn {
  width: 240px;
  background-color: #fff;
  color: #777;
  -webkit-box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, .15);
          box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, .15);
}

.tc-btn:hover,
.tc-btn:focus,
.tc-btn:active,
.tc-btn.active {
  color: #777;
  -webkit-box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, .3);
          box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, .3);
} 
